header {
    background:#5f6064;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right:0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #ffa600;
    text-decoration: underline;
    width: 940px;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
}

.produtos li:hover{
    border-color: #ffa600;
    font-size: 40px;
}

.produtos li:active{
    border-color: green;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
    color: white;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

.produto-descricao:hover{
    background-color: #5f6064;
    color: #ffa600;
    box-sizing:content-box;
}

.produto-preco:hover{
    background-color: #5f6064;
    color: #ffa600;
}

footer {
    text-align: center;
    background-color:#0D0D0D;
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background:darkorange;
    transform: scale(1.2);
}

.menu_footer{
    text-align: left;
    font-family: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;
    position: absolute;
    display: inline-table;
    left: 0px;
    bottom: 75px;
}

.menu_button{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.menu_button:hover{
    color: #ffa600;
    text-decoration: underline;
    box-sizing: border-box;
}

/*#logo_footer{
    position: absolute;
    right: 100px;
}*/

.menu_midias{
    position: absolute;
    left: 0px;
    bottom: 25px;
}

.button_midia{
    display: inline;
    align-items: center;
}

 a img {
     width: 40px;
 }

.container {
    width: 90%;
    height: 900%;
    margin: 100px auto;
}

 table {
     width: 100%;
     margin-bottom: .5em;
     table-layout: fixed;
     font-family: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;

 }

 td,
 th {
     padding: .7em;
     margin: 0;
     border: 1px solid #ccc;
     text-align: center;
 }

 th {
     font-weight: bold;
     background-color: #EEE;
 }

 label {
     color: #555;
     display: block;
     margin-bottom: .2em;
 }

button {
  width: 40%;
 padding: 15px 0;
 background: orange;
 color: white;
 font-weight: bold;
 font-size: 18px;
 border: none;
 border-radius: 5px;
 transition: 1s all;
 cursor: pointer;  
}
 